@model IEnumerable<ITMO.SeekTail.Models.Pet>

@{
    ViewBag.Title = "Животные";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
     {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img id="kartinka_kartochki" src="@item.LinkImage" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Приют: </b>@item.Shelter.Name</p>
                            <p class="card-text"><b>Вид животного: </b>@item.Animal.Type</p>
                            <p class="card-text"><b>Дата объявления: </b>@item.NoticeDate.ToString("dd MMM yy")</p>
                            <p class="card-text ">
                                <b>Статус: </b>
                                @if (item.PetStatusId == 1)
                                 {
                                    <span class="badge bg-danger text-white">ПРОПАЛ</span>
                                 }
                                else if (item.PetStatusId == 2)
                                {
                                    <span class="badge bg-warning text-white">НАЙДЕН</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="footer-kartochki" class="card-footer ">
                            <p class="card-text">
                                <a id="button-podrobnee" class="btn btn-outline-primary float-right "><i class="bi bi-eye-fill"></i> Подробнее</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     }
</div>